$primaryColor: #0c67e9;
$secondaryColor: #1c1d1f;
$textColor: #fefefe;
$secondaryTextColor: #8a8a8a;
$inputColor: #2e2f31;

html, body {
  // general styles
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.fullMinHeight {
  // full and minimum height is set by 100 view height of screen
  min-height: 100vh;
}

.heading {
  // greeting heading text styles
  font-size: 18px;
  font-weight: bold;
  color: $textColor;
  margin: 0;
}

.subHeading {
  // greeting text styles
  font-size: 14px;
  color: $secondaryTextColor;
  font-weight: 300;
}

.signButtons {
  // sign buttons styles
  background-color: $inputColor;
  padding: 3px 3px;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 244px;
  white-space: nowrap;
}

.formComponent {
  // general form styles
  background-color: $secondaryColor;
  border-radius: 25px;

  margin: 20vh auto 0;
  padding: 1rem 5rem;

  width: 100%;
  height: 100%;
  max-width: 400px;
  min-height: 550px;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  box-sizing: border-box;
}

.circle {
  // logo style
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $primaryColor;
}

.gapping {
  // set gap by 15 pixels
  gap: 15px;
}

.gapping h2 {
  // gap for logo label
  font-weight: 300;
  font-size: 18px;
}

.active {
  color: black;
}

.inactive {
  background: none;
  font-weight: 500;
}

.inactive:hover {
  background: none;
}

/////////////////// REUSABLE CLASSES ///////////////////

.columnDirection {
  // column direction in fact
  display: flex;
  flex-direction: column;
}

.rowDirection {
  // row direction in fact
  display: flex;
  flex-direction: row;
}

.itemsCenter {
  //items-align
  display: flex;
  align-items: center;
  justify-content: center;
}

.textCenter {
  // set position of text to the center of block
  text-align: center;
}

.forLink {
  // styles for the <Link /> block, react-routing-dom thing
  text-decoration: none;
  color: $textColor;
}